{% extends "layout.html" %}
{% block body %}
    <p class="mt-4 mb-4">
        RoboJackets, Inc. uses <a href="https://getdivvy.com">Divvy</a> to issue corporate credit cards and manage reimbursements. We need some information from you to create your Divvy account.
    </p>
    <form class="row g-3" method="POST" action="/" id="form" novalidate>
        <div class="col-md-6">
            <label for="first_name" class="form-label">First Name</label>
            <input type="text" class="form-control" id="first_name" name="first_name" minlength="1" maxlength="19" required value="{{ first_name }}" placeholder="George" pattern="[A-Za-z ]+">
            <div id="first_name_feedback" class="invalid-feedback">
                Please enter your first name.
            </div>
        </div>
        <div class="col-md-6">
            <label for="last_name" class="form-label">Last Name</label>
            <input type="text" class="form-control" id="last_name" name="last_name" minlength="1" maxlength="19" required value="{{ last_name }}" placeholder="Burdell" pattern="[A-Za-z ]+">
            <div id="last_name_feedback" class="invalid-feedback">
                Please enter your last name.
            </div>
        </div>
        <div class="form-text mb-3">
            Your name must match your government-issued identification, only contain letters and spaces, and be a maximum of 20 characters.
        </div>
        <div class="col-12">
            <label for="email_address" class="form-label">Email Address</label>
            <div class="input-group">
                <input id="email_address" name="email_address" type="email" class="form-control" placeholder="george.burdell@robojackets.org" value="{{ email_address }}" required>
                {% if email_verified %}
                    <button class="btn btn-primary rounded-end" type="button" id="emailverificationbutton" disabled><i class="bi-check-lg"></i>&nbsp&nbspVerified</button>
                    <input type="hidden" id="email_verified" value="true">
                {% else %}
                    {% if email_ready_to_verify %}
                        <button class="btn btn-primary rounded-end" type="button" id="emailverificationbutton"><i class="bi-{{ email_provider|lower }}"></i>&nbsp&nbspVerify with {{ email_provider|title }}</button>
                    {% else %}
                        <button class="btn btn-primary rounded-end" type="button" id="emailverificationbutton" disabled><i class="bi-exclamation-circle"></i>&nbsp&nbspVerify</button>
                    {% endif %}
                    <input type="hidden" id="email_verified" value="false">
                {% endif %}
                <div id="email_feedback" class="invalid-feedback">
                    Please enter your email address.
                </div>
            </div>
        </div>
        <div class="form-text mb-3">You will receive an email invitation to this address once your account has been created.</div>
        <div class="col-12">
            <label for="manager" class="form-label">Manager</label>
            <select class="form-select" name="manager" id="manager" required>
            {% if manager_id in managers.keys() %}
                <option value="" disabled>Select your manager</option>
            {% else %}
                <option value="" disabled selected>Select your manager</option>
            {% endif %}
            {% for id, name in managers.items() %}
                <option value="{{ id }}" {% if manager_id == id %}selected{% endif %}>{{ name }}</option>
            {% endfor %}
            </select>
            <div class="invalid-feedback">
                Please select your manager.
            </div>
        </div>
        <div class="form-text mb-3">
            Your manager will be responsible for reviewing and approving your transactions and reimbursement requests. This should typically be your project manager.
        </div>
        <div class="col-12">
            <div class="form-check">
                <input type="checkbox" value="order_physical_card" class="form-check-input" name="order_physical_card" id="order_physical_card" {% if order_physical_card %}checked{% endif %}>
                <label for="order_physical_card" class="form-check-label">Order a physical card</label>
                <div class="form-text mb-3">
                    We recommend a physical card for everyone. You will only be able to use it once you activate it <strong>and</strong> are added to a budget.
                </div>
            </div>
        </div>
        <div id="shipping_options_div" class="col-12 {% if not order_physical_card %} d-none{% endif %}">
            <div class="form-check mb-2">
                <input class="form-check-input" type="radio" name="shipping_option" id="standard_shipping" value="standard" {% if shipping_option == "standard" %}checked{% endif %}>
                <label class="form-check-label" for="standard_shipping">Standard shipping</label>
                <div class="form-text">
                    Free • No tracking • Typically arrives in 2-3 weeks
                </div>
            </div>
            <div class="form-check mb-3">
                <input class="form-check-input" type="radio" name="shipping_option" id="expedited_shipping" value="expedited" {% if shipping_option == "expedited" %}checked{% endif %}>
                <label class="form-check-label" for="expedited_shipping">Expedited shipping</label>
                <div class="form-text">
                    $20 fee paid by RoboJackets • FedEx tracking • Typically arrives within a week
                </div>
            </div>
        </div>
        <div id="address_line_one_div" class="col-12 {% if not order_physical_card %} d-none{% endif %}">
            <label for="address_line_one" class="form-label">Mailing Address</label>
            <input type="text" class="form-control" id="address_line_one" name="address_line_one" placeholder="575 14th St NW" minlength="1" maxlength="100" value="{{ address_line_one }}" required {% if not order_physical_card %}disabled{% endif %}>
            <div class="invalid-feedback" id="address_line_one_feedback">
                Please enter your street address.
            </div>
        </div>
        <div id="address_line_two_div" class="col-12 {% if not order_physical_card %} d-none{% endif %}">
            <input type="text" class="form-control" id="address_line_two" name="address_line_two" placeholder="Apt, Suite, Unit, etc. (optional)" maxlength="100" value="{{ address_line_two }}" {% if not order_physical_card %}disabled{% endif %}>
            <div class="invalid-feedback" id="address_line_two_feedback">
                Please enter your apartment or suite number.
            </div>
        </div>
        <div id="city_div" class="col-md-6 {% if not order_physical_card %} d-none{% endif %}">
            <label for="city" class="form-label">City</label>
            <input type="text" class="form-control" id="city" name="city" placeholder="Atlanta" minlength="1" maxlength="40" value="{{ city }}" required {% if not order_physical_card %}disabled{% endif %}>
            <div class="invalid-feedback">
                Please enter your city.
            </div>
        </div>
        <div id="state_div" class="col-md-3 {% if not order_physical_card %} d-none{% endif %}">
            <label for="state" class="form-label">State</label>
            <select class="form-select" name="state" id="state" required {% if not order_physical_card %}disabled{% endif %}>
            {% if state in states.keys() %}
                <option value="" disabled>Select...</option>
            {% else %}
                <option value="" disabled selected>Select...</option>
            {% endif %}
            {% for abbreviation, name in states.items() %}
                <option value="{{ abbreviation }}" {% if abbreviation == state %}selected{% endif %}>{{ name }}</option>
            {% endfor %}
            </select>
            <div class="invalid-feedback">
                Please select your state.
            </div>
        </div>
        <div id="zip_div" class="col-md-3 mb-3 {% if not order_physical_card %} d-none{% endif %}">
            <label for="zip_code" class="form-label">ZIP Code</label>
            <input type="text" inputmode="numeric" pattern="\d{5}" class="form-control" id="zip_code" name="zip_code" placeholder="30318" minlength="5" maxlength="5" value="{{ zip_code }}" required {% if not order_physical_card %}disabled{% endif %}>
            <div class="invalid-feedback" id="zip_feedback">
                Please enter your ZIP code.
            </div>
        </div>
        <div class="col-12 mb-3">
            <div class="form-check mb-2">
                <input class="form-check-input" type="checkbox" id="corporate_card_policy" required>
                <label class="form-check-label" for="corporate_card_policy">
                    I have read and agree to the <a href="https://docs.google.com/document/d/1ULOBlmGYAyVYz0jFLVxcD9_rrGeTp39UKBgytWeg5Ts/edit">RoboJackets, Inc. Corporate Credit Card Policy</a>. I understand that any credit card(s) provided to me are the property of RoboJackets, Inc. and should only be used for approved expenses.
                </label>
                <div class="invalid-feedback" id="zip_feedback">
                    Please read and acknowledge the corporate card policy.
                </div>
            </div>
            <div class="form-check mb-2">
                <input class="form-check-input" type="checkbox" id="reimbursement_policy" required>
                <label class="form-check-label" for="reimbursement_policy">
                    I have read and agree to the <a href="https://docs.google.com/document/d/1XoS4J0RoImi_jKrUwBGLDDR7J6vPVi2m7yx6k0tvqzY/edit">RoboJackets, Inc. Corporate Reimbursement Policy</a>. I understand that reimbursements are paid at the sole discretion of RoboJackets, Inc.
                </label>
                <div class="invalid-feedback" id="zip_feedback">
                    Please read and acknowledge the reimbursement policy.
                </div>
            </div>
            <div class="form-check mb-2">
                <input class="form-check-input" type="checkbox" id="identity_verification" required>
                <label class="form-check-label" for="identity_verification">
                    I am able and willing to provide my date of birth, Social Security number, and/or passport information to Divvy for identity verification, if requested.
                </label>
                <div class="invalid-feedback" id="zip_feedback">
                    Please acknowledge the identity verification policy.
                </div>
                <div class="form-text">
                    This information will only be used for identity verification and will not be visible to anyone within RoboJackets. Read more about Divvy's identity verification policies in the <a href="https://help.getdivvy.com/en/articles/5304326-date-of-birth-dob-collection-faq">Divvy Help Center</a>.
                </div>
            </div>
        </div>
        <div class="col-12 mb-3 mb-md-5">
            <button id="submit_button" type="submit" class="btn btn-primary">Submit Request</button>
        </div>
    </form>
    <script src="{{ url_for('static', filename='app.js') }}"></script>
    <script async src="https://maps.googleapis.com/maps/api/js?key={{ google_maps_api_key }}&libraries=places&callback=initializeAutocomplete"></script>
{% endblock %}
